@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mochiy+Pop+One&family=Open+Sans:ital,wght@0,500;1,800&family=Poppins:ital,wght@0,100;0,200;0,500;0,800;0,900;1,100;1,400;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,800;1,100;1,800&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto';
    width: 100vw;
    overflow-x: hidden ;

} 
nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav .links{
    display: flex;
}
nav .links ul {
    list-style: none;
}
nav .links ul li{
    display: inline;

}
nav .links ul li:not(:last-child){
    margin-right: 25px;
}
span:not(.select){
    color: #ff5100;
}
nav .links ul li a,
nav .links ul li a:visited,
nav .dcv a,
nav .dcv a:visited,
.select{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
nav .dcv a{
    padding: 10px 20px;
    border: 2px solid #ff5100;
    border-radius: 20px;
}
.container{
    height:  80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width: 30px;
}
#myimg{
    width: 30rem;
}
.container .descrip ul{
    padding:0 ;
    list-style: none;
}
.container .descrip ul li{
    display: inline;
}
.container .descrip ul li:not(:last-child){
    margin-right: 10px;
}
.about{
    width: 50%;
    /* text-align: center; */
}
#about-btn{
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    background-color:#ff5100;
    border-radius: 20px;
}
.container .descrip  h1{
    font-size: 50px;
}
.container .descrip  h4{
    font-size: 20px;
}
.container .descrip  p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(8, 8, 8, 0.767);
}
.dropdown{
    width: auto;
    position: relative;
    z-index: 3;
}
.dropdown:hover .dropdown-list{
    opacity: 1;
    visibility: visible;
}
.dropdown-select{
    color:#fff;
    margin: 0 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.dropdown-list{
    margin: 0 10px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    width: fit-content;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear , visibility 0.2 linear;
}
.dropdown-list-item{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    font-size: 15px;
    border-bottom: 1px solid #f5f5f5 ;
    transition: all 0.3s ease 0s;
}
.dropdown-list-item a,.dropdown-list-item a:visited{
    color: #a7a7a7;
    text-decoration: none;
}
a,a:visited{
    color: #fff;
    text-decoration: none;
}
.dropdown-select,li a{
    font-size: 13px;
    transition: all 0.3s ease 0s;
}
.dropdown-select:hover,li a:hover{
    color: #524c4c;
}
.other ul{
    padding-left: 20px;
}
#aboutimg{
    height: 400px;
    width: 400px;
    border-radius:20px ;
}
.con_about{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.ab_img{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ab_info{
    flex: 2;
    width: 400px;
}
.cord{
    display: flex;
    flex-direction: row;
}
.cord1 ul,.cord2 ul{
    list-style: none;
    padding-left:  0;
    padding-right: 20px;
}
.cord1 ul p,.cord2 ul p{
    font-size: 20px;
    font-weight: 600;
}
.ab_info h1{
    font-size: 50px;
}
.ab_info p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(8, 8, 8, 0.767);
}
/*-------------*/
.web,.games, .mobile, .software{
    background-color: #524c4c;
    width: 15em;
    height: 1rem;
    border-radius: 20px;
}
.skills_list ul{
    list-style: none;
}
.games::before{
    content: "95%";
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: 13rem;
    bottom: 1rem;
}
.web::before{
    content: "60%";
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: 13rem;
    bottom: 1rem;
}
.mobile::before{
    content: "30%";
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: 13rem;
    bottom: 1rem;
}
.software::before{
    content: "45%";
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: 13rem;
    bottom: 1rem;
}
.web{
    background-image:linear-gradient(90deg,rgb(233, 112, 64),rgb(233, 112, 64) 60%,#b3adad 60%);
}
.games{
    background-image:linear-gradient(90deg,rgb(233, 112, 64),rgb(233, 112, 64) 95%,#b3adad 95%);

}
.mobile{
    background-image:linear-gradient(90deg,rgb(233, 112, 64),rgb(233, 112, 64) 30%,#b3adad 30%);

}
.software{
    background-image:linear-gradient(90deg,rgb(233, 112, 64),rgb(233, 112, 64) 45%,#b3adad 45%);

}
.plogo{
    width: 100px;
}
.skl1 ul{
    list-style: none;
}
.skl1 ul li {
    display: inline;
}
.skills{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.con-exper , .cour-con{
    padding: 20px;
    width: 100vw;
}
.ex-img img{
    width: 200px;
}
.exper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cour-con{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
td , th{
    padding: 15px 20px;
    text-align: center;
    
}
th{
    background-color: #ba68c8;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
    background-color: #eeeeee;
}
.c_3_1 li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 10px 10px 30px 10px;
}
li input, li textarea{
    width: 600px;
    border: none;
    background-color: #c0b5b5;

    /* border-bottom: 2px solid black ;     */
}
li input{
    height: 30px;
}
.c_3_1 li input::placeholder,.c_3_1 li textarea::placeholder{
    color: #ff5100
}

.contact{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}